<ion-view title="৭ দিনের ডিটক্স রুকইয়াহ" id="page1" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="page1-list2">
      <ion-item class="item-icon-left dark" id="page1-list-item7" ui-sref="menu.page5()" style="">
        <i class="icon ion-edit"></i>শুরুর কথা</ion-item>
      <ion-item class="item-icon-left dark" id="page1-list-item8" ui-sref="menu.page6()" style="">
        <i class="icon ion-android-cart"></i>প্রয়োজনীয় উপাদান</ion-item>
      <ion-item class="item-icon-left" id="page1-list-item9" ui-sref="menu.page11()" style="">
        <i class="icon ion-ios-medkit"></i>প্রস্তুতি</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="page1-list3">
      <ion-item class="item-icon-left assertive" id="page1-list-item14" ui-sref="menu.page12()" style="">
        <i class="icon ion-ios-list-outline"></i>রুটিন: ১ থেকে ৩ দিন</ion-item>
      <ion-item class="item-icon-left positive" id="page1-list-item15" ui-sref="menu.page13()" style="">
        <i class="icon ion-ios-list-outline"></i>রুটিন: ৪ থেকে ৭ দিন</ion-item>
    </ion-list>
    <ion-list id="page1-list5">
      <ion-item class="item-icon-left royal" id="page1-list-item17" ui-sref="menu.page10()" style="">
        <i class="icon ion-stats-bars"></i>কি ফলাফল আশা করা যায়?</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="page1-list4">
      <ion-item class="item-icon-left" id="page1-list-item19" href-inappbrowser="https://facebook.com/groups/ruqyahbd" style="">
        <i class="icon ion-social-facebook-outline"></i>রুকইয়াহ সাপোর্ট গ্রুপ</ion-item>
      <ion-item class="item-icon-left" id="page1-list-item10" ui-sref="menu.page2()" style="">
        <i class="icon ion-ios-location-outline"></i>রুকইয়াহ সেন্টার</ion-item>
    <ion-item class="item-icon-left" id="page1-list-item20" href-inappbrowser="https://facebook.com/groups/ruqyahbd" style="">
        <i class="icon ion-social-facebook-outline"></i>আমাদের ওয়েবসাইট</ion-item>
    </ion-list>
    </ion-list>
    <div class="spacer" style="height: 35px;"></div>
  </ion-content>
</ion-view>
