<ion-view title="প্রথম তিনদিন" id="page12" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <strong>রাতে:</strong>
      </p>

      <p>১. ঘুমের আগে মাথা থেকে পায়ের তালু পর্যন্ত, অর্থাৎ পুরো শরীরে রুকইয়া করা অলিভ অয়েল মাখবেন।</p>

      <p>২. এরপর সাতটা কালোজিরা চিবিয়ে খান।</p>

      <p>৩. তারপর আধা গ্লাস রুকইয়ার পানিতে এক চা চামচ মধু নিন, এটাকে গুলিয়ে খেয়ে ফেলুন।</p>

      <p>&nbsp;</p>

      <p>
        <strong>সকালে:</strong>
      </p>

      <p>১. যথাসম্ভব সকাল-সকাল গোসল করবেন। প্রথমে গোসলের পানিতে এক গ্লাস রুকইয়ার পানি মিশিয়ে নিন। এরপর সাবান দিয়ে ভালোভাবে গোসল করুন। শীতকালে হালকা গরম পানি ব্যবহার করতে পারেন, কোন সমস্যা নেই।</p>

      <p>২. গোসলের পর আবার সাতটা কালোজিরা চিবিয়ে খান।</p>

      <p>৩. তারপর আধা গ্লাস রুকইয়ার পানিতে এক চা চামচ মধু গুলিয়ে খেয়ে ফেলুন।</p>

      <p>&nbsp;</p>

      <p>
        <strong>অন্যান্য সময়:</strong>
      </p>

      <p>পছন্দসই কোন একজন ক্বারির রুকইয়া শুনুন। (অথবা অভিজ্ঞ কারও পরামর্শ নিয়ে আপনার সমস্যা অনুযায়ী কোন রুকইয়া শুনুন)</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
  </ion-content>
</ion-view>