<ion-view title="প্রস্তুতি" id="page11" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="page11-heading2" style="color: rgb(0, 0, 0); text-align: center;">ব্যবহারের জন্য উপাদানগুলো প্রস্তুতকরণ</h3>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>সাপ্লিমেন্টারীগুলো হাতের কাছে রেখে নিম্নের আয়াতগুলো পড়ুন এবং সেগুলোতে ফুঁ দিন -</p>

      <p>
        <strong>১. সুরা ফাতিহা - ৭বার অথবা ৩বার</strong>
      </p>

      <p dir="RTL" align="center">
        <span dir="RTL">أَعُوذُ</span>
        <span dir="RTL">بِاللّٰهِ</span>
        <span dir="RTL">السَّمِيْعِ</span>
        <span dir="RTL">الْعَلِيْمِ</span>
        <span dir="RTL">مِنَ</span>
        <span dir="RTL">الشَّيْطَانِ</span>
        <span dir="RTL">الرَّجِيْمِ</span>
      </p>

      <p dir="RTL" align="center">بِسْمِ اللّٰهِ&nbsp; الرَّحْمٰنِ الرَّحِیْمِ</p>

      <p dir="RTL" style="text-align: center;">اَلْحَمْدُ لِلّٰهِ رَبِّ الْعٰلَمِیْنَ ﴿۱﴾ &nbsp;الرَّحْمٰنِ الرَّحِیْمِ ﴿۲﴾&nbsp; مٰلِكِ یَوْمِ الدِّیْنِ ﴿۳﴾ اِیَّاكَ نَعْبُدُ وَ اِیَّاكَ نَسْتَعِیْنُ ﴿۴﴾ اِهْدِ نَا الصِّرَاطَ الْمُسْتَقِیْمَ ﴿۵﴾ صِرَاطَ الَّذِیْنَ اَنْعَمْتَ عَلَیْهِمْ۬ۙ&nbsp;
        غَیْرِ الْمَغْضُوْبِ عَلَیْهِمْ وَلَا الضَّآ لِّیْنَ&nbsp; ﴿۷﴾</p>

      <hr>
      <p>
        <strong>২. আয়াতুল কুরসি - ৭বার অথবা ৩বার</strong>
      </p>

      <p style="margin-left: 40px; text-align: center;">بِسْمِ اللّٰهِ&nbsp; الرَّحْمٰنِ الرَّحِیْمِ</p>

      <p style="text-align: center;">اَللّٰهُ لَاۤ اِلٰهَ اِلَّا هُوَۚاَلْحَیُّ الْقَیُّوْمُۚ&nbsp;&nbsp; لَا تَاْخُذُہٗ سِنَةٌ وَّلَا نَوْمٌ ؕ لَہٗ مَا فِی السَّمٰوٰتِ وَمَا فِی الْاَرْضِ ؕ مَنْ ذَا الَّذِیْ یَشْفَعُ عِنْدَہٗۤ &nbsp;اِلَّا بِاِذْنِہٖ ؕ یَعْلَمُ مَا بَیْنَ اَیْدِیْهِمْ
        وَمَا خَلْفَهُمْ&nbsp; ۚوَلَا یُحِیْطُوْنَ بِشَیْءٍ مِّنْ عِلْمِہٖۤ اِلَّا بِمَاشَآءَ ۚوَسِعَ كُرْسِیُّهُ السَّمٰوٰتِ وَالْاَرْضَ ۚوَلَا یَـُٔوْدُہٗ حِفْظُهُمَا ۚوَهُوَ الْعَلِیُّ الْعَظِیْمُ</p>

      <hr>
      <p>
        <strong>৩. সুরা ইখলাস - ৩বার</strong>
      </p>

      <p dir="RTL" align="center">بِسْمِ اللّٰهِ&nbsp; الرَّحْمٰنِ الرَّحِیْمِ</p>

      <p dir="RTL" align="center">قُلْ هُوَ اللّٰهُ &nbsp;اَحَدٌ&nbsp; ﴿۱﴾ اللّٰهُ &nbsp;الصَّمَدُ ﴿۲﴾&nbsp; لَمْ یَلِدْ ۙوَ لَمْ یُوْلَدْ ﴿۳﴾&nbsp; وَ لَمْ یَكُنْ لَّہٗ&nbsp; كُفُوًا اَحَدٌ&nbsp; ﴿۴﴾</p>

      <hr>
      <p>
        <strong>৪. সুরা ফালাক - ৩বার</strong>
      </p>

      <p dir="RTL" align="center">بِسْمِ اللّٰهِ&nbsp; الرَّحْمٰنِ الرَّحِیْمِ</p>

      <p dir="RTL" align="center">قُلْ اَعُوْذُ&nbsp; بِرَبِّ الْفَلَقِ ﴿۱﴾&nbsp; مِنْ شَرِّ مَا خَلَقَ ﴿۲﴾&nbsp; وَ مِنْ&nbsp; شَرِّ غَاسِقٍ&nbsp; اِذَا وَقَبَ ﴿۳﴾&nbsp; وَ مِنْ&nbsp; شَرِّ النَّفّٰثٰتِ فِی الْعُقَدِ ﴿۴﴾&nbsp; وَ مِنْ&nbsp; شَرِّ حَاسِدٍ&nbsp; اِذَا حَسَدَ&nbsp;
        ﴿۵﴾</p>

      <hr>
      <p>
        <strong>৫. সুরা নাস - ৩বার</strong>
      </p>

      <p dir="RTL" align="center">بِسْمِ اللّٰهِ&nbsp; الرَّحْمٰنِ الرَّحِیْمِ</p>

      <p dir="RTL" align="center">قُلْ اَعُوْذُ بِرَبِّ النَّاسِ ﴿۱﴾&nbsp; مَلِكِ النَّاسِ ﴿۲﴾&nbsp; اِلٰهِ&nbsp; النَّاسِ ﴿۳﴾&nbsp; مِنْ شَرِّ الْوَسْوَاسِ ۙ الْخَنَّاسِ ﴿۴﴾&nbsp; الَّذِیْ یُوَسْوِسُ فِیْ صُدُوْرِ النَّاسِ ﴿۵﴾&nbsp; مِنَ الْجِنَّةِ وَ النَّاسِ&nbsp; ﴿۶﴾</p>

      <hr>
      <p>
        <strong>৬. সুরা বাক্বারা সম্পূর্ণ</strong> (কোরআন দেখে পড়ুন)</p>

      <ul>
        <li> - এক বসাতেই বাক্বারা পুরাটা পড়ে শেষ করতে হবে এমন বাধ্যবাধতা নাই, একবারে যতটুকু পারবেন পড়বেন। পড়ার মাঝেমাঝে ফুঁ দিবেন। প্রয়োজনে উঠে যাবেন, এরপর কোন কাজ থাকলে সেটা শেষ করে এসে বাকিটা পড়বেন। প্রয়োজনে দুইদিন সময় নিয়ে প্রস্তুত করবেন, এরপর ডিটক্স শুরু
          করবেন। সমস্যা নাই।</li>
        <li> - এসব পড়ুন আর মাঝে মাঝে পানি অলিভ অয়েল ফুঁ দিন। এরপর মধু ও কালোজিরায় ফু দিন।</li>
      </ul>

      <hr>
      <p>
        <strong>৭. আরও কিছু দোয়া পড়ুন - প্রতিটি ৩বার করে</strong>
      </p>

      <ol dir="rtl">
        <li dir="RTL">أَعُوذُ بِاللّٰهِ السَّمِيْعِ الْعَلِيْمِ مِنَ الشَّيْطَانِ الرَّجِيْمِ مِنْ هَمْزِهٖ وَنَفْخِهٖ وَنَفْثِهٖ</li>
        <li dir="RTL">أُعِيْذُكُمْ بِكَلِمَاتِ اللّٰه ِ التَّامَّةِ ،&nbsp; مِنْ كُلِّ شَيْطَانٍ وَهَامَّةٍ ،&nbsp; وَمِنْ كُلِّ عَيْنٍ لَامَّةٍ</li>
        <li>بِسْمِ اللّٰه أَرْقِيكَ،&nbsp; مِنْ كُلِّ شَيْءٍ يُؤْذِيْكَ،&nbsp; مِنْ شَرِّ كُلِّ نَفْسٍ أَوْ عَيْنِ حَاسِدٍ،&nbsp; اَللَّه يَشْفِيكَ بِسْمِ اللّٰهِ أَرْقِيْكَ</li>
        <li>بِاسْمِ اللّٰهِ يُبْرِيْكَ، وَمِنْ كُلِّ دَاءٍ يَشْفِيْكَ، وَمِنْ شَرِّ حَاسِدٍ إِذَا حَسَدَ، وَشَرِّ كُلِّ ذِيْ عَيْنٍ</li>
        <li>اللَّهمَّ رَبَّ النَّاسِ أَذْهِبِ الْبَاسَ اِشْفِ وَأَنْتَ الشَّافِيْ لَا شِفَاءَ إِلَّا شِفَاؤُكَ شِفَاءً لَا يُغَادِرُ سَقَمًا</li>
      </ol>

      <hr>
      <p>এই স্টেপগুলো ঠিকভাবে অনুসরণ করে থাকলে আপনি “আল-আশফিয়া” ডিটক্স প্রোগ্রাম শুরু করার জন্য প্রস্তুত!</p>

      <p>&nbsp;</p>

      <p>&nbsp;</p>

      <p>.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
  </ion-content>
</ion-view>