<ion-view title="কি আশা করা যায়.." id="page10" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>১. প্রথম দিন হয়তো তেমন কিছুই অনুভব করবেন না। তবে কারো কারো প্রথম দিন থেকেই ইফেক্ট শুরু হয়।</p>

      <p>২. দ্বিতীয় এবং তৃতীয়দিন সমস্যা বেড়ে যেতে পারে। হয়তো অসুস্থ হয়ে পড়বেন, প্রচণ্ড দুর্বল লাগবে। অথবা পুরো শরীর বা বিভিন্ন অঙ্গ ব্যথা হয়ে থাকবে। ভারি ব্যায়াম করলে যেমন ব্যথা হয়, সেরকম হতে পারে।</p>

      <p>৩. চতুর্থ দিন থেকে সমস্যা কমতে শুরু হবে ইনশাআল্লাহ, এবং ৭দিনের প্রোগ্রাম শেষ হতে হতে আল্লাহ চায়তো আপনি একদম ফ্রেশ হয়ে যাবেন।</p>

      <p>৪. যদি (আল্লাহ না করুক) ৭ দিন পরেও আপনার যথেষ্ট উন্নতি দেখা না যায়, তাহলে আপনার উচিত হবে লাগাতার কয়েকমাস “
        <a href="https://facebook.com/thealmahmud/posts/1536145463141645">সর্বজনীন পূর্ণ রুকইয়াহ প্রোগ্রাম</a>” অনুসরণ করা।</p>

      <p>৫. আর এই কয়দিন নিজের গুনাহ থেকে ক্ষমা চেয়ে ইস্তেগফার করতে থাকা উচিত। সাথে প্রতিদিনের মাসনুন আমলগুলো করা। আর বেশি বেশি দোয়া করা, যেন সপ্তাহ শেষে আপনি একদম সুস্থ হয়ে যান।</p>

      <p>৬. আর হ্যাঁ! এই রুটিন ফলো করার সময় একটা ডায়েরি বা নোটবুক রাখুন, খুব সংক্ষেপে আপনার অবস্থা নোট করুন। যেন প্রোগ্রাম শেষে সেটা আমাদের সাথে শেয়ার করতে পারেন..।</p>

      <p>আল্লাহ আমাদের সবাইকে সুস্থ এবং নিরাপদ রাখুন, আমিন…</p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
  </ion-content>
</ion-view>