<ion-view title="প্রয়োজনীয় উপাদান" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="page6-heading1" style="color: rgb(0, 0, 0); font-weight: 400; text-align: center;">আমাদের যা যা দরকার হবে</h3>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <p>
        <strong>১. পানি। সাড়ে তিন বা চার লিটার।</strong>
      </p>

      <ul>
        <li>জমজমের পানি হলে সবচেয়ে ভালো। রাসূল সল্লাল্লহু আলাইহি ওয়াসাল্লাম বলেছেন, এর মাঝে শিফা আছে। (মুজামুল আওসাত)</li>
        <li>নইলে বৃষ্টির পানি। আল্লাহ তা’আলা এটাকে বরকতময় বলেছেন। (সুরা ক্বফ, আয়াত ৯)</li>
        <li>এসব না পেলে সাধারণ পানি হলেও চলবে। রাসূল স. সাধারণ পানিও চিকিৎসার জন্য ব্যবহার করেছেন। (আবু দাউদ)</li>
      </ul>

      <p>জমজম বা বৃষ্টির পানি অল্প পরিমাণে থাকলে বরকতের জন্য সাধারণ পানির সাথে মিক্স করা যেতে পারে। আর একসাথে এতগুলো পানি রাখতে না পারলে, প্রথমে ২লিটার প্রস্তুত করুন, এসব ব্যবহার শেষে আবার প্রস্তুত করবেন।</p>

      <p>&nbsp;</p>

      <p>
        <strong>২. অলিভ অয়েল। ১০০মিলি. যথেষ্ট হবে ইনশাআল্লাহ।</strong>
      </p>

      <p>কোরআনুল কারিমে যাইতুনের তেলকে বরকতময় বলা হয়েছে।&nbsp; (সুরা নুর, আয়াত ৩৫)</p>

      <ul>
        <li>সবচেয়ে ভালো হয় ফিলিস্তিনের এক্সট্রা ভার্জিন অলিভ অয়েল হলে।</li>
        <li>নইলে শরীরের ব্যবহারের উপযোগী ভালো মানের যেকোন অলিভ অয়েল।</li>
        <li>&nbsp;</li>
      </ul>

      <p>
        <strong>৩. মধু। ২৫০ গ্রাম। </strong>
      </p>

      <p>আল্লাহ তা’আলা বলেছেন, মধুর মাঝে মানুষের জন্য শিফা রয়েছে। (সুরা নাহল, আয়াত ৬৯)</p>

      <ul>
        <li>যথাসম্ভব পিওর মধু। এক্ষেত্রে পরিচিত কারও মাধ্যমে বা নির্ভরযোগ্য কোন অনলাইন শপের সহায়তা নেয়া যেতে পারে। অথবা কোন ভালো ব্র্যান্ডের মধু হতে পারে।</li>
        <li>&nbsp;</li>
      </ul>

      <p>
        <strong>৪. কালোজিরা। ৫০গ্রাম। </strong>
      </p>

      <p>রাসূল সল্লাল্লহু আলাইহি ওয়াসাল্লাম বলেছেন, কালোজিরা মৃত্যু ব্যতীত সকল রোগের শিফা। (মুসলিম)</p>

      <ul>
        <li>এটাও ভালো হওয়া উচিত, ব্যবহারের আগে সম্ভব হলে কালোজিরার ময়লা ঝেড়ে ফেলা।</li>
        <li>&nbsp;</li>
      </ul>

      <p>
        <strong>৫. তিলাওয়াতের জন্য কোরআন শরিফ। </strong>
      </p>

      <p>আল্লাহ তা’আলা বলেছেন- বিশ্বাসীদের জন্য কোরআনের মাঝে রয়েছে শিফা এবং রহমত। (সুরা বানি ইসরাইল, আয়াত ৮৬)</p>

      <p>&nbsp;</p>

      <p>এসব যদি সংগ্রহ করা হয়ে যায়, তাহলে আমরা শুরু করতে পারি…</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
  </ion-content>
</ion-view>