<ion-view title="রুকইয়াহ সেন্টার" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 50px;"></div>
    <div id="page2-markdown1" style="text-align:center;" class="show-list-numbers-and-dots"></div>
    <div id="page2-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">For Appointment:
        <strong>01612-877464</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="page2-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Ground floor, House No. 91/1, Road No. 11a, Dhanmondi, Dhaka 1209</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href="tel:+8801612877464" id="page2-button1" class="button button-positive button-block">Call now</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="menu.getDirection()" id="page2-button2" class="button button-calm button-block icon ion-ios-location"> Get Direction</a>
  </ion-content>
</ion-view>