<ion-view title="রুকইয়াহ সেন্টার" id="page2" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-alarm-clock"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 50px;"></div>
    <div id="page2-markdown1" style="text-align:center;" class="show-list-numbers-and-dots"></div>
    <ion-content padding="true" class="has-header">
    <h1 id="page4-heading3" style="color:#000000;">Keep us in your prayers...</h1>
  </ion-content>
       <!--     <div id="page2-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">For Appointment:
        <strong>0100-000000</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="page2-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>House #, Road #, .... Dhaka 1200</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href="tel:+88010000000" id="page2-button1" class="button button-positive button-block">Call now</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="menu.getDirection()" id="page2-button2" class="button button-calm button-block icon ion-ios-location"> Get Direction</a> -->
  
  </ion-content>
</ion-view>
